img {
  border-radius: 10px;
  display: block;
  margin: 0 auto;
  max-width: 100%;
  text-align: center;
  height: 90px;
  width: 90px;
}
h2,
h4,
h5,
h6 {
  text-align: center;
  color: white;
}

input {
  background: white;
  box-shadow: rgba(23, 24, 36, 0.08) 0px 8px 8px 0;
  border-radius: 6px;
  border: rgba(23, 24, 36, 0.08) 50px;
  color: #a78fd1;
  font-family: "Quicksand", sans-serif;
  font-size: 13px;
  transition: all 200ms ease-in-out;
}

.container {
  box-shadow: rgb(37 39 89 / 6%) 0px 8px 8px 0;
  background: rgb(249, 234, 249);
  border-radius: 20px;
  color: rgb(37 39 89 / 8%) 0px 8px 8px 0;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Quicksand", sans-serif;
  padding: 15px;
  max-width: 100%;
}

.card {
  box-shadow: rgba(23, 24, 36, 0.08) 0px 8px 8px 0;
  background: linear-gradient(
    to top,
    rgb(161, 140, 209) 0%,
    rgb(251, 194, 235) 100%
  );
  max-width: 100%;
  color: #fff;
  font-family: "Quicksand", sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 50px !important;
}

.card-2 {
  color: #a78fd1;
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
  transition: all 200ms ease-in-out;
  font-weight: 900;
  margin-bottom: 17px;
  text-align: center;
}

.card-3 {
  height: 100%;
  background-color: white;
  box-shadow: rgba(23, 24, 36, 0.08) 0px 8px 8px 0;
  border: rgba(23, 24, 36, 0.08) 50px;
  border-radius: 8px;
  padding: 15px, 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.search-button,
.current-location-button {
  background: white;
  box-shadow: rgba(23, 24, 36, 0.08) 0px 8px 8px 0;
  border-radius: 6px;
  border: rgba(23, 24, 36, 0.08) 60px;
  color: #a78fd1;
  margin: 5px auto;
  padding: 3.5px;
  font-family: "Quicksand", sans-serif;
  font-size: 13px;
  font-weight: 900;
  transition: all 200ms ease-in-out;
}

.search-button {
  padding-right: 72px;
}

.current-location-button {
  padding-right: 14px;
}

button:hover {
  cursor: pointer;
  opacity: 0.7;
}

.days,
.degrees {
  margin-left: 20px;
  font-size: 17px;
  margin-top: 10px;
}

.next-5-days {
  margin-left: 16px;
}

.city {
  font-size: 40px;
}

.city-2 {
  margin-left: 20px;
  margin-top: 10px;
  font-size: 30px;
}

.today {
  margin-left: 20px;
}

.next {
  text-align: right;
  right: 20px;
}

.temperature {
  font-size: 28px;
}

.units {
  color: white;
  font-size: 15px;
}

units:hover {
  color: white;
}
